# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additionally
*.txt
*.sln
*.vcxproj
*.filters
*.user
%*.cpp
*.log
*.ods
*.ods#
*.DBA
*.c
*.vhd
*.pdb
*.ada
*.prof
*.mem
*.bat

# Manually ignoring
.editorconfig
.vs/
Debug/
x64/
rsa/
pytharr/
hdlmaker.pro
test_functions.cpp
clock.cpp
.tmp.driveupload/
desktop.ini
bup_status_11-04-2023/